n8n-workflows/campanha-ia-routing.json
{"name": "Campanha IA Routing", "nodes": [{"parameters": {"httpMethod": "POST", "path": "campanha-ia-webhook", "options": {}}, "id": "webhook-entrada", "name": "Webhook Entrada", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 0], "webhookId": "campanha-ia-webhook"}, {"parameters": {"jsCode": "const body = $json.body || $json;\nconst event = body.event || body.data?.event;\n\n// Só processa messages.upsert\nif (event !== 'messages.upsert') {\n  return [{ json: { skip: true, reason: 'not_message' } }];\n}\n\nconst data = body.data || body;\nconst key = data.key || {};\n\n// Ignora msgs do próprio bot\nif (key.fromMe) {\n  return [{ json: { skip: true, reason: 'from_me' } }];\n}\n\n// Ignora grupos\nconst remoteJid = key.remoteJid || '';\nif (remoteJid.includes('@g.us')) {\n  return [{ json: { skip: true, reason: 'group' } }];\n}\n\n// Extrair texto\nconst msg = data.message || {};\nlet text = msg.conversation || msg.extendedTextMessage?.text || '';\nif (!text && msg.audioMessage) text = '[audio]';\nif (!text && msg.imageMessage) text = msg.imageMessage.caption || '[imagem]';\nif (!text) text = '[mensagem sem texto]';\n\n// Extrair phone\nlet phone = remoteJid.replace('@s.whatsapp.net', '').replace('@lid', '');\n\nreturn [{ json: {\n  skip: false,\n  phone: phone,\n  message_text: text,\n  message_type: msg.audioMessage ? 'audio' : msg.imageMessage ? 'image' : 'text',\n  instance_name: body.instance || '',\n  wa_message_id: key.id || '',\n  raw: body\n} }];"}, "id": "parse-msg", "name": "Parsear Mensagem", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "not-skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": {"type": "boolean", "operation": "notTrue", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "deve-processar", "name": "Deve processar?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [440, 0]}, {"parameters": {"jsCode": "// Verificar se lead está em campanha ativa\nconst phone = $json.phone;\nconst apikey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI';\n\n// Buscar lead pelo telefone\nconst leadResp = await fetch(\n  `https://zupsbgtoeoixfokzkjro.supabase.co/rest/v1/leads?phone_e164=ilike.*${phone}&merged_into_id=is.null&select=id&limit=1`,\n  { headers: { 'apikey': apikey, 'Authorization': 'Bearer ' + apikey } }\n);\nconst leads = await leadResp.json();\n\nif (!leads || leads.length === 0) {\n  return [{ json: { ...$json, in_campaign: false, reason: 'lead_not_found' } }];\n}\n\nconst leadId = leads[0].id;\n\n// Buscar se está em campanha ativa\nconst clResp = await fetch(\n  `https://zupsbgtoeoixfokzkjro.supabase.co/rest/v1/campanha_leads?lead_id=eq.${leadId}&status=in.(contatado,em_conversa,aquecido)&select=id,campanha_id&limit=1`,\n  { headers: { 'apikey': apikey, 'Authorization': 'Bearer ' + apikey } }\n);\nconst campLeads = await clResp.json();\n\nif (!campLeads || campLeads.length === 0) {\n  return [{ json: { ...$json, in_campaign: false, reason: 'not_in_campaign' } }];\n}\n\nreturn [{ json: { ...$json, in_campaign: true, lead_id: leadId, campanha_lead_id: campLeads[0].id, campanha_id: campLeads[0].campanha_id } }];"}, "id": "check-campanha", "name": "Lead em campanha?", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 0]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "in-camp", "leftValue": "={{ $json.in_campaign }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "router", "name": "Rotear", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [880, 0]}, {"parameters": {"method": "POST", "url": "https://zupsbgtoeoixfokzkjro.functions.supabase.co/campanha-ia-responder", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message_text: $json.message_text, instance_name: $json.instance_name, message_type: $json.message_type }) }}", "options": {"timeout": 30000}}, "id": "ia-responder", "name": "IA Responder", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, -100]}, {"parameters": {"content": "## Campanha IA Routing\n\nWebhook recebe msg do Evolution API\n→ Parseia (ignora fromMe, grupos)\n→ Verifica se lead está em campanha ativa\n→ Se sim: chama campanha-ia-responder\n→ Se não: ignora (SigZap normal cuida)"}, "id": "sticky-note", "name": "Nota", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-200, -200]}], "connections": {"Webhook Entrada": {"main": [[{"node": "Parsear Mensagem", "type": "main", "index": 0}]]}, "Parsear Mensagem": {"main": [[{"node": "Deve processar?", "type": "main", "index": 0}]]}, "Deve processar?": {"main": [[{"node": "Lead em campanha?", "type": "main", "index": 0}]]}, "Lead em campanha?": {"main": [[{"node": "Rotear", "type": "main", "index": 0}]]}, "Rotear": {"main": [[{"node": "IA Responder", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "active": false, "id": "3e7e3c8a1774417eb898"}