n8n-workflows/campanha-webhook-bridge.json
{
  "name": "Campanha Webhook Bridge",
  "id": "campanha_webhook_bridge_01",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campanha-webhook-bridge",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "campanha-webhook-bridge"
    },
    {
      "parameters": {
        "jsCode": "// Parse Evolution webhook payload\nconst body = $json.body || $json;\nconst event = body.event;\n\nif (event !== 'messages.upsert') return [];\n\nconst data = body.data || {};\nconst key = data.key || {};\n\n// Ignore own messages and groups\nif (key.fromMe) return [];\nif ((key.remoteJid || '').includes('@g.us')) return [];\n\n// Extract message content\nconst msg = data.message || {};\nlet text = msg.conversation || (msg.extendedTextMessage || {}).text || '';\nlet msgType = 'text';\nlet mediaUrl = '';\n\nif (msg.audioMessage) {\n  msgType = 'audio';\n  mediaUrl = msg.audioMessage.url || '';\n  if (!text) text = '[audio]';\n} else if (msg.imageMessage) {\n  msgType = 'image';\n  mediaUrl = msg.imageMessage.url || '';\n  text = msg.imageMessage.caption || '[imagem]';\n} else if (msg.videoMessage) {\n  msgType = 'video';\n  text = msg.videoMessage.caption || '[video]';\n} else if (msg.documentMessage) {\n  msgType = 'document';\n  text = msg.documentMessage.caption || '[documento]';\n} else if (msg.stickerMessage) {\n  msgType = 'sticker';\n  text = '[sticker]';\n} else if (!text) {\n  text = '[mensagem]';\n}\n\nconst phone = (key.remoteJid || '').replace('@s.whatsapp.net', '').replace('@lid', '');\nconst msgId = key.id || ('id_' + Date.now());\nconst instanceName = body.instance || '';\n\nreturn [{ json: {\n  phone,\n  msg_text: text,\n  msg_type: msgType,\n  msg_id: msgId,\n  media_url: mediaUrl,\n  instance_name: instanceName\n} }];"
      },
      "id": "parse",
      "name": "Parsear Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zupsbgtoeoixfokzkjro.supabase.co/rest/v1/campanha_msg_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, instance_name: $json.instance_name, msg_id: $json.msg_id, msg_text: $json.msg_text, msg_type: $json.msg_type, media_url: $json.media_url || '' }) }}",
        "options": {}
      },
      "id": "enqueue",
      "name": "Enfileirar (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "debounce-wait",
      "name": "Aguardar 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [660, 0],
      "webhookId": "debounce-campanha-wait"
    },
    {
      "parameters": {
        "jsCode": "// Fetch all queued messages for this phone and check ownership\nconst phone = $('Parsear Mensagem').item.json.phone;\nconst myMsgId = $('Parsear Mensagem').item.json.msg_id;\nconst apikey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI';\n\n// Fetch queue for this phone\nconst resp = await fetch(\n  `https://zupsbgtoeoixfokzkjro.supabase.co/rest/v1/campanha_msg_queue?phone=eq.${phone}&order=created_at.asc`,\n  { headers: { 'apikey': apikey, 'Authorization': 'Bearer ' + apikey } }\n);\nconst rows = await resp.json();\n\nif (!rows || rows.length === 0) {\n  return [{ json: { skip: true, reason: 'empty_queue' } }];\n}\n\n// Check if I'm the owner (last message in queue)\nconst lastRow = rows[rows.length - 1];\nif (lastRow.msg_id !== myMsgId) {\n  return [{ json: { skip: true, reason: 'not_owner' } }];\n}\n\n// I'm the owner — aggregate all texts\nconst texts = rows.map(r => r.msg_text || '').filter(t => t.length > 0);\nconst aggregated = texts.join('\\n');\nconst lastMsgType = lastRow.msg_type || 'text';\nconst lastMediaUrl = lastRow.media_url || '';\nconst instanceName = lastRow.instance_name || '';\n\nreturn [{ json: {\n  skip: false,\n  phone: phone,\n  aggregated_text: aggregated,\n  msg_type: lastMsgType,\n  media_url: lastMediaUrl,\n  instance_name: instanceName,\n  msg_count: rows.length,\n  row_ids: rows.map(r => r.id)\n} }];"
      },
      "id": "check-owner",
      "name": "Verificar Dono da Fila",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "not-skip",
            "leftValue": "={{ $json.skip }}",
            "rightValue": false,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-process",
      "name": "Sou o dono?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zupsbgtoeoixfokzkjro.functions.supabase.co/campanha-ia-responder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, aggregated_texts: $json.aggregated_text, message_text: $json.aggregated_text, instance_name: $json.instance_name, message_type: $json.msg_type, media_url: $json.media_url }) }}",
        "options": { "timeout": 55000 }
      },
      "id": "call-ia",
      "name": "Chamar IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "// Delete processed messages from queue\nconst rowIds = $('Verificar Dono da Fila').item.json.row_ids || [];\nconst apikey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI';\n\nfor (const id of rowIds) {\n  await fetch(\n    `https://zupsbgtoeoixfokzkjro.supabase.co/rest/v1/campanha_msg_queue?id=eq.${id}`,\n    {\n      method: 'DELETE',\n      headers: { 'apikey': apikey, 'Authorization': 'Bearer ' + apikey }\n    }\n  );\n}\n\nreturn [{ json: { cleaned: rowIds.length } }];"
      },
      "id": "cleanup",
      "name": "Limpar Fila",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "content": "## Campanha Webhook Bridge v2\n\n**Fluxo:**\nWebhook Evolution → Parsear → Enfileirar (Supabase) → Wait 10s\n→ Verificar Dono da Fila → Se dono: Agregar + Chamar IA → Limpar Fila\n\n✅ Debounce 10s via Supabase (sem Google Sheets)\n✅ Agrega múltiplas msgs antes de processar\n✅ Suporta texto, áudio, imagem (processados na edge function)\n✅ Sem rate limit de API externa"
      },
      "id": "sticky",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -200]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parsear Mensagem", "type": "main", "index": 0 }]] },
    "Parsear Mensagem": { "main": [[{ "node": "Enfileirar (Supabase)", "type": "main", "index": 0 }]] },
    "Enfileirar (Supabase)": { "main": [[{ "node": "Aguardar 10s", "type": "main", "index": 0 }]] },
    "Aguardar 10s": { "main": [[{ "node": "Verificar Dono da Fila", "type": "main", "index": 0 }]] },
    "Verificar Dono da Fila": { "main": [[{ "node": "Sou o dono?", "type": "main", "index": 0 }]] },
    "Sou o dono?": { "main": [[{ "node": "Chamar IA", "type": "main", "index": 0 }]] },
    "Chamar IA": { "main": [[{ "node": "Limpar Fila", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
