n8n-workflows/campanha-cron-disparo.json
{"name": "Campanha Cron Disparo", "nodes": [{"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 30}]}}, "id": "cron-trigger", "name": "A cada 30min", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 0]}, {"parameters": {"method": "POST", "url": "https://zupsbgtoeoixfokzkjro.supabase.co/rest/v1/rpc/selecionar_campanhas_ativas", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "{}", "options": {}}, "id": "buscar-campanhas", "name": "Buscar campanhas ativas", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 0]}, {"parameters": {"jsCode": "// Buscar campanhas ativas diretamente\nconst apikey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI';\n\nconst resp = await fetch('https://zupsbgtoeoixfokzkjro.supabase.co/rest/v1/campanhas?status=eq.ativa&tipo_campanha=eq.prospeccao&select=id,nome', {\n  headers: { 'apikey': apikey, 'Authorization': 'Bearer ' + apikey }\n});\nconst campanhas = await resp.json();\n\nif (!campanhas || campanhas.length === 0) {\n  return [{ json: { skip: true, msg: 'Nenhuma campanha ativa' } }];\n}\n\nreturn campanhas.map(c => ({ json: c }));"}, "id": "code-campanhas", "name": "Buscar Campanhas Ativas", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "skip-check", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": {"type": "boolean", "operation": "notTrue", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "tem-campanhas", "name": "Tem campanhas?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [440, 0]}, {"parameters": {"method": "POST", "url": "https://zupsbgtoeoixfokzkjro.functions.supabase.co/campanha-disparo-processor", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1cHNiZ3RvZW9peGZva3pranJvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE1NDA4MSwiZXhwIjoyMDkwNzMwMDgxfQ.DyapBTSccnh-0I7am5EP-VsqguKmr0VP95FeGjbXitI"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ campanha_id: $json.id }) }}", "options": {"timeout": 55000}}, "id": "disparar", "name": "Disparar Campanha", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 0]}, {"parameters": {"amount": 5}, "id": "wait-entre-campanhas", "name": "Wait 5s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [880, 0], "webhookId": "wait-cron-campanha"}], "connections": {"A cada 30min": {"main": [[{"node": "Buscar Campanhas Ativas", "type": "main", "index": 0}]]}, "Buscar Campanhas Ativas": {"main": [[{"node": "Tem campanhas?", "type": "main", "index": 0}]]}, "Tem campanhas?": {"main": [[{"node": "Disparar Campanha", "type": "main", "index": 0}]]}, "Disparar Campanha": {"main": [[{"node": "Wait 5s", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "active": false, "id": "6ba692c7395b4f009a58"}